<section id="news" class="w-full mt-10">
  <div class="w-full px-4 lg:px-0mx-2 md: lg:w-235 mx-auto">
    <div class="w-full mb-4">
      <nav class="relative h-12 w-full mb-4">
        <div
          class="nav nav-tabs tab tab-news whitespace-nowrap overflow-x-auto absolute top-0 left-1/2 transform -translate-x-1/2"
          id="nav-tab"
          role="tablist"
        >
          <a
            class="nav-item nav-link tab-item active inline-block mx-2 md:mx-4 text-lg font-semibold hover:text-2xl transition-all duration-150"
            id="dien-anh-24h-tab"
            data-toggle="tab"
            href="#dien-anh-24h"
            role="tab"
            aria-controls="dien-anh-24h"
            aria-selected="true"
            >Điện ảnh 24h</a
          >
          <a
            class="nav-item nav-link tab-item inline-block mx-2 md:mx-4 text-lg font-semibold hover:text-2xl transition-all duration-150"
            id="review-tab"
            data-toggle="tab"
            href="#review"
            role="tab"
            aria-controls="review"
            aria-selected="false"
            >Review</a
          >
          <a
            class="nav-item nav-link tab-item inline-block mx-2 md:mx-4 text-lg font-semibold hover:text-2xl transition-all duration-150"
            id="khuyen-mai-tab"
            data-toggle="tab"
            href="#khuyen-mai"
            role="tab"
            aria-controls="khuyen-mai"
            aria-selected="false"
            >Khuyến mãi</a
          >
        </div>
      </nav>
      <div class="tab-content w-full" id="nav-tabContent1">
        <div
          class="tab-pane fade hidden show active opacity-0 transition-all duration-75 w-full"
          id="dien-anh-24h"
          role="tabpanel"
          aria-labelledby="dien-anh-24h-tab"
        >
          <div class="w-full">
            <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/11/boc-tem-to-hop-giai-tri-moi-toanh-cua-gioi-ha-thanh-16056938333773.jpg"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        “Bóc tem” tổ hợp giải trí mới toanh của giới Hà Thành
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Vào đúng ngày Nhà giáo Việt Nam 20/11, khu vui chơi sống
                      ảo độc-lạ-chill nhất từ trước đến giờ sẽ chính thức khai
                      trương tại 360 Giải Phóng!
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      1
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/11/tiec-trang-mau-chinh-thuc-can-moc-100-ty-chi-sau-2-tuan-cong-chieu-16043752411629.png"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        Tiệc Trăng Máu chính thức cán mốc 100 tỷ chỉ sau 2 tuần
                        công chiếu
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Sau 2 tuần ra mắt, Tiệc Trăng Máu chính thức gia nhập câu
                      lạc bộ phim điện ảnh đạt 100 tỷ đồng doanh thu phòng vé.
                      Dàn ngôi sao “bạc tỷ” của phim cũng lần đầu tiên hội tụ
                      đầy đủ trong một khung hình để ăn mừng thành tích ấn tượng
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      2
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane hidden fade opacity-0 transition-all duration-75 w-full"
          id="review"
          role="tabpanel"
          aria-labelledby="review-tab"
        >
          <div class="w-full">
            <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/08/review-tan-tich-quy-am-relic-ba-the-he-va-moi-lien-ket-15965255784224.png"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        “Bóc tem” tổ hợp giải trí mới toanh của giới Hà Thành
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Vào đúng ngày Nhà giáo Việt Nam 20/11, khu vui chơi sống
                      ảo độc-lạ-chill nhất từ trước đến giờ sẽ chính thức khai
                      trương tại 360 Giải Phóng!
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      1
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/08/review-dinh-thu-oan-khuat-ghost-of-war-15965120886610.png"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        Tiệc Trăng Máu chính thức cán mốc 100 tỷ chỉ sau 2 tuần
                        công chiếu
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Sau 2 tuần ra mắt, Tiệc Trăng Máu chính thức gia nhập câu
                      lạc bộ phim điện ảnh đạt 100 tỷ đồng doanh thu phòng vé.
                      Dàn ngôi sao “bạc tỷ” của phim cũng lần đầu tiên hội tụ
                      đầy đủ trong một khung hình để ăn mừng thành tích ấn tượng
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      2
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane hidden fade opacity-0 transition-all duration-75 w-full"
          id="khuyen-mai"
          role="tabpanel"
          aria-labelledby="khuyen-mai-tab"
        >
          <div class="w-full">
            <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/11/boc-tem-to-hop-giai-tri-moi-toanh-cua-gioi-ha-thanh-16056938333773.jpg"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        “Bóc tem” tổ hợp giải trí mới toanh của giới Hà Thành
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Vào đúng ngày Nhà giáo Việt Nam 20/11, khu vui chơi sống
                      ảo độc-lạ-chill nhất từ trước đến giờ sẽ chính thức khai
                      trương tại 360 Giải Phóng!
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      1
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/11/tiec-trang-mau-chinh-thuc-can-moc-100-ty-chi-sau-2-tuan-cong-chieu-16043752411629.png"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        Tiệc Trăng Máu chính thức cán mốc 100 tỷ chỉ sau 2 tuần
                        công chiếu
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Sau 2 tuần ra mắt, Tiệc Trăng Máu chính thức gia nhập câu
                      lạc bộ phim điện ảnh đạt 100 tỷ đồng doanh thu phòng vé.
                      Dàn ngôi sao “bạc tỷ” của phim cũng lần đầu tiên hội tụ
                      đầy đủ trong một khung hình để ăn mừng thành tích ấn tượng
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      2
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="flex flex-wrap -mx-2">
        <div class="mb-4 px-2 w-full md:w-2/3">
          <div class="w-full">
            <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/11/boc-tem-to-hop-giai-tri-moi-toanh-cua-gioi-ha-thanh-16056938333773.jpg"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        “Bóc tem” tổ hợp giải trí mới toanh của giới Hà Thành
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Vào đúng ngày Nhà giáo Việt Nam 20/11, khu vui chơi sống
                      ảo độc-lạ-chill nhất từ trước đến giờ sẽ chính thức khai
                      trương tại 360 Giải Phóng!
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      1
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
              <div class="px-2 w-full md:w-1/2">
                <div class="w-full">
                  <div class="w-full rounded overflow-hidden">
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/11/tiec-trang-mau-chinh-thuc-can-moc-100-ty-chi-sau-2-tuan-cong-chieu-16043752411629.png"
                      alt=""
                      class="w-full"
                    />
                  </div>
                  <div class="w-full mt-3">
                    <a href="#" class="hover:text-red-500">
                      <h2
                        class="h-12 overflow-hidden ellipsis-2 break-words font-semibold"
                      >
                        Tiệc Trăng Máu chính thức cán mốc 100 tỷ chỉ sau 2 tuần
                        công chiếu
                      </h2>
                    </a>
                  </div>
                  <div class="w-full h-16 overflow-hidden">
                    <p class="text-xs">
                      Sau 2 tuần ra mắt, Tiệc Trăng Máu chính thức gia nhập câu
                      lạc bộ phim điện ảnh đạt 100 tỷ đồng doanh thu phòng vé.
                      Dàn ngôi sao “bạc tỷ” của phim cũng lần đầu tiên hội tụ
                      đầy đủ trong một khung hình để ăn mừng thành tích ấn tượng
                    </p>
                  </div>
                  <div class="w-full">
                    <a href="#" class="text-gray-500 mr-2">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </span>
                      2
                    </a>
                    <a href="#" class="text-gray-500">
                      <span
                        class="transform hover:scale-105 transition-all duration-500 inline-block"
                        ><i class="fa fa-comment-o" aria-hidden="true"></i>
                      </span>
                      0
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 px-2 w-full md:w-1/3">
          <a href="#" class="block mb-3">
            <div class="w-full">
              <div class="w-full h-16 overflow-hidden">
                <div class="flex">
                  <div
                    class="w-16 h-16 flex-shrink-0 overflow-hidden inline-block rounded mr-3"
                  >
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/05/beta-cineplex-tro-lai-voi-hang-loat-uu-dai-lon-15889408112010.png"
                      alt=""
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <div class="h-full flex-grow inline-block overflow-hidden">
                    <p class="ellipsis-2 hover:text-red-500">
                      Beta Cineplex trở lại với hàng loạt ưu đãi lớn
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="block mb-3">
            <div class="w-full">
              <div class="w-full h-16 overflow-hidden">
                <div class="flex">
                  <div
                    class="w-16 h-16 flex-shrink-0 overflow-hidden inline-block rounded mr-3"
                  >
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/05/beta-cineplex-tro-lai-voi-hang-loat-uu-dai-lon-15889408112010.png"
                      alt=""
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <div class="h-full flex-grow inline-block overflow-hidden">
                    <p class="ellipsis-2 hover:text-red-500">
                      Beta Cineplex trở lại với hàng loạt ưu đãi lớn
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="block mb-3">
            <div class="w-full">
              <div class="w-full h-16 overflow-hidden">
                <div class="flex">
                  <div
                    class="w-16 h-16 flex-shrink-0 overflow-hidden inline-block rounded mr-3"
                  >
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/05/beta-cineplex-tro-lai-voi-hang-loat-uu-dai-lon-15889408112010.png"
                      alt=""
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <div class="h-full flex-grow inline-block overflow-hidden">
                    <p class="ellipsis-2 hover:text-red-500">
                      Beta Cineplex trở lại với hàng loạt ưu đãi lớn
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="block mb-3">
            <div class="w-full">
              <div class="w-full h-16 overflow-hidden">
                <div class="flex">
                  <div
                    class="w-16 h-16 flex-shrink-0 overflow-hidden inline-block rounded mr-3"
                  >
                    <img
                      src="https://s3img.vcdn.vn/123phim/2020/05/beta-cineplex-tro-lai-voi-hang-loat-uu-dai-lon-15889408112010.png"
                      alt=""
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <div class="h-full flex-grow inline-block overflow-hidden">
                    <p class="ellipsis-2 hover:text-red-500">
                      Beta Cineplex trở lại với hàng loạt ưu đãi lớn
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="w-full my-4">
      <div class="w-full px-4 py-4">
        <div class="w-full text-center">
          <button
            class="inline-block px-4 py-2 rounded text-center border border-gray-500 text-gray-500 hover:text-white hover:bg-red-500 uppercase hover:border-red-500 transition-all duration-500"
          >
            Xem thêm
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
