<section>
  <div class="w-full">
    <div class="w-full bg-gray-900 pb-20">
      <div class="w-full lg:w-235 mx-auto">
        <nav class="w-full relative h-12 mb-2">
          <div
            class="nav nav-tabs tab tab-movie absolute whitespace-nowrap w-full overflow-x-auto top-0 left-1/2 transform -translate-x-1/2 text-center"
            id="nav-tab"
            role="tablist"
          >
            <a
              class="nav-item nav-link tab-item text-white active mx-2 md:mx-4 font-semibold inline-block transition-all duration-150 text-lg lg:text-xl hover:text-2xl"
              id="lich-chieu-tab"
              data-toggle="tab"
              href="#lich-chieu"
              role="tab"
              aria-controls="lich-chieu"
              aria-selected="true"
              >Lịch chiếu</a
            >
            <a
              class="nav-item nav-link tab-item text-white mx-2 md:mx-4 font-semibold inline-block transition-all duration-150 text-lg lg:text-xl hover:text-2xl"
              id="thong-tin-tab"
              data-toggle="tab"
              href="#thong-tin"
              role="tab"
              aria-controls="thong-tin"
              aria-selected="false"
              >Thông tin</a
            >
            <a
              class="nav-item nav-link tab-item text-white mx-2 md:mx-4 font-semibold inline-block transition-all duration-150 text-lg lg:text-xl hover:text-2xl"
              id="danh-gia-tab"
              data-toggle="tab"
              href="#danh-gia"
              role="tab"
              aria-controls="danh-gia"
              aria-selected="false"
              >Đánh giá</a
            >
          </div>
        </nav>
        <div class="w-full tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade hidden show active opacity-0 transition-all duration-75 w-full"
            id="lich-chieu"
            role="tabpanel"
            aria-labelledby="lich-chieu-tab"
          >
            <div class="w-full">
              <div class="w-full max-h-235 bg-white rounded-lg shadow-3xl">
                <div class="w-full h-full overflow-hidden">
                  <div class="flex flex-wrap h-full">
                    <div class="w-full lg:w-1/3">
                      <div class="w-full">
                        <div class="w-full px-4">
                          <a
                            href="#"
                            class="block py-4 border-b border-gray-300 opacity-75 hover:opacity-100"
                          >
                            <div class="w-full">
                              <div class="flex -mx-2">
                                <div class="px-2 flex-shrink">
                                  <div class="w-16 h-16">
                                    <img
                                      src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"
                                      alt=""
                                      class="w-full h-full rounded-full"
                                    />
                                  </div>
                                </div>
                                <div class="px-2 flex-grow">
                                  <div>
                                    <h2
                                      class="font-semibold text-lg text-gray-700"
                                    >
                                      BHD Star Cineplex
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <a
                            href="#"
                            class="block py-4 border-b border-gray-300 opacity-75 hover:opacity-100"
                          >
                            <div class="w-full">
                              <div class="flex -mx-2">
                                <div class="px-2 flex-shrink">
                                  <div class="w-16 h-16">
                                    <img
                                      src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"
                                      alt=""
                                      class="w-full h-full rounded-full"
                                    />
                                  </div>
                                </div>
                                <div class="px-2 flex-grow">
                                  <div>
                                    <h2
                                      class="font-semibold text-lg text-gray-700"
                                    >
                                      BHD Star Cineplex
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <a
                            href="#"
                            class="block py-4 border-b border-gray-300 opacity-75 hover:opacity-100"
                          >
                            <div class="w-full">
                              <div class="flex -mx-2">
                                <div class="px-2 flex-shrink">
                                  <div class="w-16 h-16">
                                    <img
                                      src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"
                                      alt=""
                                      class="w-full h-full rounded-full"
                                    />
                                  </div>
                                </div>
                                <div class="px-2 flex-grow">
                                  <div>
                                    <h2
                                      class="font-semibold text-lg text-gray-700"
                                    >
                                      BHD Star Cineplex
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <a
                            href="#"
                            class="block py-4 border-b border-gray-300 opacity-75 hover:opacity-100"
                          >
                            <div class="w-full">
                              <div class="flex -mx-2">
                                <div class="px-2 flex-shrink">
                                  <div class="w-16 h-16">
                                    <img
                                      src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"
                                      alt=""
                                      class="w-full h-full rounded-full"
                                    />
                                  </div>
                                </div>
                                <div class="px-2 flex-grow">
                                  <div>
                                    <h2
                                      class="font-semibold text-lg text-gray-700"
                                    >
                                      BHD Star Cineplex
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="w-full lg:w-2/3">
                      <div class="w-full h-full lg:border-l lg:border-gray-300">
                        <div class="w-full">
                          <nav class="w-full overflow-hidden">
                            <div
                              class="nav nav-tabs tab tab-schedule whitespace-nowrap overflow-x-auto py-4"
                              id="nav-tab"
                              role="tablist"
                            >
                              <a
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold active"
                                id="thu-3-tab"
                                data-toggle="tab"
                                href="#thu-3"
                                role="tab"
                                aria-controls="thu-3"
                                aria-selected="true"
                              >
                                <p>Thứ 3</p>
                                <p class="text-xl">19</p>
                              </a>
                              <a
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold"
                                id="thu-4-tab"
                                data-toggle="tab"
                                href="#thu-4"
                                role="tab"
                                aria-controls="thu-4"
                                aria-selected="false"
                                ><p>Thứ 4</p>
                                <p class="text-xl">20</p></a
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                              <span
                                class="nav-item nav-link tab-item inline-block px-4 text-center font-semibold text-gray-300"
                                ><p>Thứ 5</p>
                                <p class="text-xl">21</p></span
                              >
                            </div>
                          </nav>
                          <div class="w-full tab-content" id="nav-tabContent">
                            <div
                              class="tab-pane fade hidden show active opacity-0 transition-all duration-75 w-full"
                              id="thu-3"
                              role="tabpanel"
                              aria-labelledby="thu-3-tab"
                            >
                              <div
                                class="w-full h-full overflow-x-hidden overflow-y-auto"
                              >
                                <div class="w-full px-4">
                                  <div class="w-full">
                                    <a href="#" class="block">
                                      <div
                                        class="w-full py-4 border-b border-gray-200"
                                      >
                                        <div class="w-full">
                                          <div class="w-full">
                                            <div class="w-full">
                                              <div
                                                class="flex flex-start -mx-2"
                                              >
                                                <div class="px-2 flex-shrink">
                                                  <img
                                                    src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-bitexco-16105952137769.png"
                                                    alt=""
                                                    class="w-12 h-12 object-cover"
                                                  />
                                                </div>
                                                <div class="px-2 flex-grow">
                                                  <h3
                                                    class="truncate font-semibold"
                                                  >
                                                    <span
                                                      class="text-white px-2 py-1 rounded-lg bg-green-500 uppercase"
                                                      >P</span
                                                    >
                                                    Lừa Đểu Gặp Lừa Đảo - The
                                                    Con-Heartist
                                                  </h3>
                                                  <p
                                                    class="text-gray-500 truncate text-sm"
                                                  >
                                                    <small>100 phút</small>
                                                  </p>
                                                </div>
                                              </div>
                                              <div class="w-full mt-2">
                                                <h3
                                                  class="text-lg font-semibold"
                                                >
                                                  2D Digital
                                                </h3>
                                              </div>
                                              <div class="w-full mt-2">
                                                <a
                                                  href="#"
                                                  class="inline-block"
                                                >
                                                  <div
                                                    class="px-2 py-1 border border-gray-300 rounded-lg"
                                                  >
                                                    <span
                                                      class="text-lg text-green-500 font-semibold"
                                                      >20:00</span
                                                    >
                                                    ~ 22:00
                                                  </div>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="tab-pane fade hidden opacity-0 transition-all duration-75 w-full"
                              id="thu-4"
                              role="tabpanel"
                              aria-labelledby="thu-4-tab"
                            >
                              <div
                                class="w-full h-full overflow-x-hidden overflow-y-auto"
                              >
                                <div class="w-full px-4">
                                  <div class="w-full">
                                    <a href="#" class="block">
                                      <div
                                        class="w-full py-4 border-b border-gray-200"
                                      >
                                        <div class="w-full">
                                          <div class="w-full">
                                            <div class="w-full">
                                              <div
                                                class="flex flex-start -mx-2"
                                              >
                                                <div class="px-2 flex-shrink">
                                                  <img
                                                    src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-bitexco-16105952137769.png"
                                                    alt=""
                                                    class="w-12 h-12 object-cover"
                                                  />
                                                </div>
                                                <div class="px-2 flex-grow">
                                                  <h3
                                                    class="truncate font-semibold"
                                                  >
                                                    <span
                                                      class="text-white px-2 py-1 rounded-lg bg-green-500 uppercase"
                                                      >P</span
                                                    >
                                                    Lừa Đểu Gặp Lừa Đảo - The
                                                    Con-Heartist
                                                  </h3>
                                                  <p
                                                    class="text-gray-500 truncate text-sm"
                                                  >
                                                    <small>100 phút</small>
                                                  </p>
                                                </div>
                                              </div>
                                              <div class="w-full mt-2">
                                                <h3
                                                  class="text-lg font-semibold"
                                                >
                                                  2D Digital
                                                </h3>
                                              </div>
                                              <div class="w-full mt-2">
                                                <a
                                                  href="#"
                                                  class="inline-block"
                                                >
                                                  <div
                                                    class="px-2 py-1 border border-gray-300 rounded-lg"
                                                  >
                                                    <span
                                                      class="text-lg text-green-500 font-semibold"
                                                      >20:00</span
                                                    >
                                                    ~ 22:00
                                                  </div>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade hidden opacity-0 transition-all duration-75 w-full"
            id="thong-tin"
            role="tabpanel"
            aria-labelledby="thong-tin-tab"
          >
            <div class="w-full">
              <div class="px-4 lg:px-0 w-full">
                <div class="flex flex-wrap -mx-2">
                  <div class="px-2 w-full md:w-1/2">
                    <div class="w-full">
                      <div class="w-full mb-4">
                        <div class="flex -mx-2">
                          <div class="px-2 w-1/2 md:w-1/3">
                            <h4
                              class="whitespace-nowrap text-white font-semibold"
                            >
                              Ngày công chiếu
                            </h4>
                          </div>
                          <div class="px-2 w-1/2 md:w-2/3">
                            <p class="text-white">08.01.2021</p>
                          </div>
                        </div>
                      </div>
                      <div class="w-full mb-4">
                        <div class="flex -mx-2">
                          <div class="px-2 w-1/2 md:w-1/3">
                            <h4
                              class="whitespace-nowrap text-white font-semibold"
                            >
                              Đạo diễn
                            </h4>
                          </div>
                          <div class="px-2 w-1/2 md:w-2/3">
                            <p class="text-white">Lê Thiện Viễn</p>
                          </div>
                        </div>
                      </div>
                      <div class="w-full mb-4">
                        <div class="flex -mx-2">
                          <div class="px-2 w-1/2 md:w-1/3">
                            <h4
                              class="whitespace-nowrap text-white font-semibold"
                            >
                              Diễn viên
                            </h4>
                          </div>
                          <div class="px-2 w-1/2 md:w-2/3">
                            <p class="text-white"></p>
                          </div>
                        </div>
                      </div>
                      <div class="w-full mb-4">
                        <div class="flex -mx-2">
                          <div class="px-2 w-1/2 md:w-1/3">
                            <h4
                              class="whitespace-nowrap text-white font-semibold"
                            >
                              Thể loại
                            </h4>
                          </div>
                          <div class="px-2 w-1/2 md:w-2/3">
                            <p class="text-white">Hài, Tình Cảm</p>
                          </div>
                        </div>
                      </div>
                      <div class="w-full mb-4">
                        <div class="flex -mx-2">
                          <div class="px-2 w-1/2 md:w-1/3">
                            <h4
                              class="whitespace-nowrap text-white font-semibold"
                            >
                              Định dạng
                            </h4>
                          </div>
                          <div class="px-2 w-1/2 md:w-2/3">
                            <p class="text-white">2D/Digital</p>
                          </div>
                        </div>
                      </div>
                      <div class="w-full mb-4">
                        <div class="flex -mx-2">
                          <div class="px-2 w-1/2 md:w-1/3">
                            <h4
                              class="whitespace-nowrap text-white font-semibold"
                            >
                              Quốc gia SX
                            </h4>
                          </div>
                          <div class="px-2 w-1/2 md:w-2/3">
                            <p class="text-white">Việt Nam</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2 w-full md:w-1/2">
                    <div class="w-full">
                      <h4 class="font-semibold text-white mb-4">Nội dung</h4>
                      <p class="text-white text-sm">
                        Chuyện phim “Em” Là Của Em xoay quanh Hoàng (Ngô Kiến
                        Huy) - một chàng trai đã 30 tuổi nhưng vẫn chưa đi đến
                        được trạm cuối của con đường tình yêu. Phải lòng một cô
                        gái hơn tuổi từ tận năm cấp 3, Hoàng đã phải trải qua
                        nhiều gian nan trắc trở để “cầm cưa” chị đẹp nhưng đều
                        liên tiếp bị chị người thương từ chối. Lúc này, Thanh
                        (Khả Như) trở thành người “cứu rỗi” tình yêu cho Hoàng
                        khi lập ra cho anh hẳn một kế hoạch cưa đổ crush cực kỳ
                        hoàn hảo. Liệu rằng với kế hoạch ấy, anh chàng có thành
                        công thu phục trái tim của người đẹp giấu mặt? Câu trả
                        lời sẽ được hé lộ vào ngày 08.01.2021.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade hidden opacity-0 transition-all duration-75 w-full"
            id="danh-gia"
            role="tabpanel"
            aria-labelledby="danh-gia-tab"
          >
            <div class="w-full">
              <div class="mx-auto w-full px-4 md:px-0 md:w-2/3">
                <div class="w-full">
                  <div class="w-full mb-4">
                    <div class="w-full bg-white rounded-lg p-4">
                      <div class="flex items-center justify-between">
                        <div class="text-gray-500 flex items-center">
                          <a href="#" class="text-3xl md:text-5xl mr-2">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                          </a>
                          <a
                            href="#"
                            class="whitespace-nowrap text-sm md:text-base"
                            >Bạn nghĩ gì về phim này</a
                          >
                        </div>
                        <div
                          class="text-xs md:text-3xl text-red-300 whitespace-nowrap"
                        >
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-full mb-4">
                    <div class="w-full bg-white rounded-lg p-4">
                      <div class="w-full">
                        <div class="w-full mb-4">
                          <div class="w-full">
                            <div class="flex items-center justify-between">
                              <div class="flex items-center">
                                <a href="#" class="flex-shrink mr-2">
                                  <img
                                    src="https://s120.avatar.talk.zdn.vn/3/6/3/c/3/120/4ff19ff11b8302856257ebccbb17fb38.jpg"
                                    alt=""
                                    class="w-10 h-10 rounded-full"
                                  />
                                </a>
                                <div class="whitespace-nowrap">
                                  <p class="font-semibold">Trường Ngọc Linh</p>
                                  <small class="text-xs text-gray-400"
                                    >2 ngày trước</small
                                  >
                                </div>
                              </div>
                              <div class="text-center">
                                <p class="text-green-500 font-semibold">1</p>
                                <p class="text-red-400 text-xs">1/2</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="w-full mb-4">
                          <div class="w-full">
                            <div class="w-full border-b border-gray-300 pb-4">
                              <div class="w-full">
                                <p class="text-gray-700 break-words">
                                  Phim gì đâu mà nó vừa dở vừa chán, phí tiền...
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="w-full">
                          <div class="w-full">
                            <span class="text-gray-500 mr-2"
                              ><i
                                class="fa fa-thumbs-o-up"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <span class="font-semibold text-gray-700 mr-2"
                              >1</span
                            >
                            <span class="text-gray-500">Thích</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full mt-4">
                  <div class="w-full">
                    <div class="w-full text-center">
                      <button
                        class="inline-block px-4 py-2 border border-gray-200 rounded-lg text-center text-gray-200 uppercase hover:bg-red-500 hover:border-red-500 transition-all duration-500"
                      >
                        Xem thêm
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
