<section id="mobile-app" class="w-full">
  <div class="w-full">
    <div class="bg-backapp w-full bg-cover">
      <div class="w-full py-16">
        <div class="w-full lg:w-235 mx-auto">
          <div class="px-10 sm:px-4 md:px-12 lg:px-0 w-full">
            <div class="flex flex-col lg:flex-row items-center">
              <div class="w-full my-8 lg:w-1/2 text-center lg:text-left">
                <h2 class="text-4xl text-white mb-6">
                  Ứng dụng tiện lợi dành cho người yêu điện ảnh
                </h2>
                <p class="mb-6 text-white">
                  Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp
                  và đổi quà hấp dẫn.
                </p>
                <div class="w-full mb-4">
                  <button
                    class="inline-block px-4 py-2 rounded bg-red-500 text-white font-semibold"
                  >
                    App miễn phí - Tải về ngay!
                  </button>
                </div>
                <p class="text-white">
                  TIX có hai phiên bản <a href="#" class="underline">IOS</a> và
                  <a href="#" class="underline">Android</a>
                </p>
              </div>
              <div class="w-full my-8 lg:w-1/2">
                <div class="w-full">
                  <div class="text-center">
                    <div class="inline-block rounded-lg overflow-hidden w-1/2">
                      <img
                        src="https://tix.vn/app/assets/img/icons/slide/slide6.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
