<div
  class="hidden lg:block absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 z-40"
>
  <div class="w-235">
    <div class="w-full rounded-lg bg-white shadow-2xl">
      <div class="w-full py-4">
        <div class="flex">
          <div class="w-1/3">
            <div class="w-full px-4">
              <div class="dropdown js-ticket w-full relative">
                <div
                  id="movie"
                  class="js-dropdown-btn flex items-center justify-between text-gray-900 py-2 cursor-pointer"
                  data-toggle="dropdown"
                  data-flip="false"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Phim</span>
                  <i
                    class="fa fa-chevron-down text-gray-400 text-xs"
                    aria-hidden="true"
                  ></i>
                </div>
                <div
                  class="dropdown-menu absolute left-0 -ml-4 hidden z-50"
                  aria-labelledby="movie"
                >
                  <div class="min-w-40 max-w-2xl">
                    <div
                      class="w-full rounded-lg bg-white shadow-2xl overflow-x-hidden overflow-y-auto break-words py-2 border border-gray-200 max-h-64"
                    >
                      <ul class="h-full">
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first movie, this title of movie must
                            be longer</a
                          >
                        </li>
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first movie, this title of film must be
                            longer</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-1/6">
            <div class="w-full px-4">
              <div class="dropdown js-ticket w-full relative">
                <div
                  id="rap"
                  class="js-dropdown-btn flex items-center justify-between text-gray-900 py-2 cursor-pointer"
                  data-toggle="dropdown"
                  data-flip="false"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Rạp</span>
                  <i
                    class="fa fa-chevron-down text-gray-400 text-xs"
                    aria-hidden="true"
                  ></i>
                </div>
                <div
                  class="dropdown-menu absolute left-0 -ml-4 hidden z-50"
                  aria-labelledby="rap"
                >
                  <div class="min-w-40 max-w-2xl">
                    <div
                      class="w-full rounded-lg bg-white shadow-2xl overflow-x-hidden overflow-y-auto break-words py-2 border border-gray-200 max-h-64"
                    >
                      <ul class="h-full">
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-1/6">
            <div class="w-full px-4">
              <div class="dropdown js-ticket w-full relative">
                <div
                  id="date"
                  class="js-dropdown-btn flex items-center justify-between text-gray-900 py-2 cursor-pointer"
                  data-toggle="dropdown"
                  data-flip="false"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Ngày xem</span>
                  <i
                    class="fa fa-chevron-down text-gray-400 text-xs"
                    aria-hidden="true"
                  ></i>
                </div>
                <div
                  class="dropdown-menu absolute left-0 -ml-4 hidden z-50"
                  aria-labelledby="date"
                >
                  <div class="min-w-40 max-w-2xl">
                    <div
                      class="w-full rounded-lg bg-white shadow-2xl overflow-x-hidden overflow-y-auto break-words py-2 border border-gray-200 max-h-64"
                    >
                      <ul class="h-full">
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-1/6">
            <div class="w-full px-4">
              <div class="dropdown js-ticket w-full relative">
                <div
                  id="time"
                  class="js-dropdown-btn flex items-center justify-between text-gray-900 py-2 cursor-pointer"
                  data-toggle="dropdown"
                  data-flip="false"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Xuất chiếu</span>
                  <i
                    class="fa fa-chevron-down text-gray-400 text-xs"
                    aria-hidden="true"
                  ></i>
                </div>
                <div
                  class="dropdown-menu absolute left-0 -ml-4 hidden z-50"
                  aria-labelledby="time"
                >
                  <div class="min-w-40 max-w-2xl">
                    <div
                      class="w-full rounded-lg bg-white shadow-2xl overflow-x-hidden overflow-y-auto break-words py-2 border border-gray-200 max-h-64"
                    >
                      <ul class="h-full">
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                        <li class="js-ticket-item w-full">
                          <a
                            href="#"
                            class="w-full px-4 py-2 truncate inline-block hover:bg-blue-300 hover:text-white"
                            >this is the first film, this title of film must be
                            longer</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-1/6 px-2">
            <button
              type="button"
              class="w-full bg-gray-500 rounded-lg px-4 py-2 text-center text-white uppercase"
            >
              Mua vé ngay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
