<section class="w-full mt-16">
  <div class="w-full">
    <div class="w-full pb-10/25 relative overflow-hidden">
      <div class="absolute top-0 left-0 right-0 bottom-0">
        <img
          src="https://s3img.vcdn.vn/123phim/2020/12/em-la-cua-em-16091411511458.png"
          alt=""
          class="w-full h-full object-cover blur-2"
        />
      </div>
      <div class="absolute top-0 left-0 right-0 bottom-0 z-10">
        <div
          class="w-full h-full bg-gradient-to-t bg-gradient-to-t from-gray-900 via-gray-500-95 to-transparent"
        ></div>
      </div>
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20"
      >
        <div class="w-235">
          <div class="flex items-center justify-between">
            <div class="w-1/2">
              <div class="w-full">
                <div class="flex -mx-2 items-center">
                  <div class="px-2 w-1/2">
                    <div class="w-full">
                      <div class="w-full relative pb-tix-v">
                        <div class="absolute top-0 left-0 right-0 bottom-0">
                          <div class="w-full h-full rounded overflow-hidden">
                            <img
                              src="https://s3img.vcdn.vn/mobile/123phim/2020/12/em-la-cua-em-16091411645152_215x318.png"
                              alt=""
                              class="w-full h-full"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2 w-1/2">
                    <p class="text-gray-300 mb-2">08.01.2021</p>
                    <h1 class="text-xl text-gray-200 font-semibold mb-2">
                      <span
                        class="px-2 py-1 rounded-lg text-white bg-red-500 mr-2"
                        >C16</span
                      >
                      'Em' là của em
                    </h1>
                    <p class="text-gray-300 mb-4">
                      0 phút - 0 IMDb - 2D/Digital
                    </p>
                    <button
                      type="button"
                      class="px-4 py-2 rounded-lg text-white bg-red-500 hover:bg-red-700"
                    >
                      Mua vé
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <div>
                <div class="w-32 h-32 rounded-full overflow-hidden mb-4">
                  <div class="w-full h-full relative">
                    <div class="absolute top-0 left-0 bottom-0 right-0">
                      <div
                        class="border-8 rounded-full border-green-500 w-full h-full"
                      ></div>
                    </div>
                    <div
                      class="absolute top-0 left-0 bottom-0 right-0 z-10 clip-1/4 text-32"
                    >
                      <div
                        class="border-8 rounded-full border-gray-500 w-full h-full"
                      ></div>
                    </div>
                    <div class="absolute top-0 left-0 bottom-0 right-0">
                      <div class="w-full h-full rounded-full p-2">
                        <div class="w-full h-full rounded-full overflow-hidden">
                          <div
                            class="w-full h-full text-center leading-32 bg-gray-600 bg-opacity-25 text-white"
                          >
                            <span class="text-4xl font-semibold inline-block"
                              >7.2</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-2xl text-red-500 mb-3">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  1/2
                </p>
                <p class="text-white">48 người đánh giá</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
